<link rel="stylesheet" href="/stylesheets/style_table.css">

<div id="t-heading">
    <h3>Pliki</h3>
</div>

<div id="t-content">
    <table class="table table-hover">
        <thead>
        <tr>
            <th style="width: 60%">Nazwa:</th>
            <th style="width: 10%">Typ:</th>
            <th style="width: 15%">Dodano:</th>
            <th style="width: 15%">Rozmiar:</th>
        </tr>
        </thead>
        <tbody>
        <% for(var item of dane) { %>
        <tr>
            <td class="first">
                <div><%= item.filename %></div>
                <% if(item.favourite === 1 ){ %>
                    <i class="fas fa-star"></i>
                <% } %>
                <% if(title === 'Kosz') {%>
                    <span onclick="toDelete({idfiles: <%= item.idfiles %>, userId: <%= userId %>})"><i class="fas fa-times-circle trash"></i></span>
                    <span onclick="toRecover({idfiles: <%= item.idfiles %>, userId: <%= userId %>})"><i class="fas fa-trash-restore trash"></i></span>
                <% } else { %>
                    <span onclick="toTrash({idfiles: <%= item.idfiles %>, userId: <%= userId %>, title: '<%= title %>'})">
                        <img src="/images/kosz.png" alt="kosz">
                    </span>
                    <span onclick="toFavourite({idfiles: <%= item.idfiles %>, userId: <%= userId %>, title: '<%= title %>', fav: <%= item.favourite %>})">
                        <img src="/images/star.png" alt="gwiazda">
                    </span>
                    <span onclick="toDownload({idfiles: <%= item.idfiles %>, userId: <%= userId %>, title: '<%= title %>', fav: <%= item.favourite %>})">
                        <img src="/images/download.png" alt="pobierz">
                    </span>
                <% } %>
            </td>
            <td><%= item.filetype %></td>
            <td><%= item.added %></td>
            <td><%= item.filesize %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>